.list-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    &__card{
        text-align: center;
        width: calc(25% - 32px);
        img{
            max-width: 200px;
        }
    }
}

@media (max-width: 800px) {
    .list-cards {
      flex-direction: column;
      align-content: center;
      flex-wrap: nowrap;
      &__card{
        width: 100%;
      }
    }
  }